@font-face {
    font-family: poppin-regular;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
 }

 @font-face {
    font-family: poppin-bold;
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
 }

 @font-face {
    font-family: sk-modernist;
    src: url('../fonts/Sk-Modernist/Sk-Modernist-Regular.otf');
 }

 @font-face {
    font-family: sk-modernist-bold;
    src: url('../fonts/Sk-Modernist/Sk-Modernist-Bold.otf');
 }

 @media (max-width: 1140px){
    .header{
        padding: 30px 0 0 0 !important;
    }
    #about{
        margin-top: 40px !important;
    }

    #howToBuy{
        margin-top: 0 !important;
    }
    .stats-list .col-12{
        border-width: 0 0px 1px 0px !important;
    }

   
 }
 
 @media (max-width: 540px){
    .text-18{
        font-size: 14px !important;
        line-height: 24px !important;
    }

    .text-24-bold{
        font-size: 18px !important;
    }

    .text-24-bold-sk{
        font-size: 16px !important;
    }
    .stats-list{
        padding: 0 32px !important;
    }

    .text-90-bold-sk{
        font-size: 40px !important;
        line-height: 42px !important;
    }

    .b-buy-bnsc{
        width: 100%;
        font-weight: 600;
    }

    .b-eth-demo{
        font-weight: 600;
        width: 100%;
        margin: 16px 0 !important;
    }

    .b-bsc-demo{
        font-weight: 600;
        width: 100%;
        margin: 0 0 !important;
    }
    .text-60-bold-sk{
        font-size: 36px !important;
        line-height: 40px !important;
    }

    #howToBuy .text-60-bold-sk{
        text-align: center;
        margin-bottom: 24px;
    }

    #howToBuy .text-18{
        margin: 0px !important;
        padding: 0px !important;
        text-align: center !important;
    }
    #howToBuy .wallet-img{
        height: 252.04px !important;
        padding: 0 30px 15px 30px !important;
    }

    #stats{
        margin: 30px 0 !important;
    }

    .description{
        margin: 24px 0 !important;
    }

    .phase-line-center, .phase-line-dot-right, .phase-line-dot-left{
        display: none;
    }

    .phase-item-logo{
        margin-bottom: 40px !important;
    }

    .phase-1, .phase-2, .phase-3{
        padding: 40px 20px !important;
        border-bottom: 1px solid rgba(222, 222, 222, 0.6);
    }

    #community {
        padding: 80px 0 !important;
    }

    .community-list{
        flex-direction: column !important;
        align-items: center !important;
    }

    .community-item{
        margin: 20px 0 !important;
    }

    .footer-content{
        flex-direction: column !important;
    }

    .brand img{
        height: 23px !important;
    }

    #stats{
        padding: 32px 15px 16px 15px !important;
    }
    .d-go-down{
        height: 150px !important;
    }

    .b-go-down{
        margin-top: 40px !important;
    }

    body{
        background-image: url('../images/Bg\ mobile.png') !important;
        background-size: 100% 100%;
    }

    .stats-item-last{
        border: none !important;
    }

    .stats-list .stats-item{
        margin: 32px 0 !important;
        text-align: center;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        align-items: center !important;
        float: none !important;
    }

    #roadmap .description{
        margin-bottom: -24px !important;
    }

    .binance{
        background-image: url('../images/Bg\ mobile\ 1.png') !important;
    }
}

@media (max-width: 850px){
    .icon-menu-res{
        display: block !important;
    }

    .top-menu{
        display: none !important;
    }
}
@media (max-width: 720px){

}

 .binance .container{
    padding-right: 32px;
    padding-left: 32px;
 }

 html {
    scroll-behavior: smooth;
  }

 .binance {
    background-image: url('../images/bg-main.png');
    background-size: 100% 100%;
    font-family: poppin-regular;
 }

.text-12{
    color: #161616;
    font-size: 12px;
}

.text-14-bold{
   color: #161616;
   font-family: poppin-bold;
   font-size: 14px;
}

.text-14{
    color: #161616;
    font-size: 14px;
}

.text-14-53{
    color: #535353;
    font-size: 14px;
}

.text-16-53{
    color: #535353;
    font-size: 16px;
    font-family: poppin;
}

.text-16-bold{
    color: #161616;
    font-size: 16px;
    font-family: poppin-bold;
}

.text-18{
    color: #161616;
    font-size: 18px;
}

.text-18-bold{
    color: #161616;
    font-size: 18px;
    font-weight: 500;
    font-family: poppin-bold;
}

.text-20-bold{
    color: #161616;
    font-family: poppin-bold;
    font-size: 20px;
}

.text-24-bold{
    color: #161616;
    font-family: poppin-bold;
    font-size: 24px;
}

.text-24-bold-sk{
    color: #161616;
    font-family: sk-modernist-bold;
    font-size: 24px;
}

.text-32-bold{
    color: #161616;
    font-family: poppin-bold;
    font-size: 32px;
}

.text-36-bold-sk{
    color: #161616;
    font-family: sk-modernist-bold;
    font-size: 36px;
    line-height: 40px;
}

.text-60-bold-sk{
    color: #161616;
    font-family: sk-modernist-bold;
    font-size: 60px;
    line-height: 70px;
}

.text-90-bold-sk{
    color: #161616;
    font-family: sk-modernist-bold;
    font-size: 90px;
    line-height: 90px;
}

.link-color-orange{
    color: #FF9C11;
}

.link-color-blue{
    color: rgba(62, 192, 232, 1);

}

.link-color-red{
    background: -webkit-linear-gradient(97.43deg, #FCD982 -8.05%, #FF4E6A 53.52%, #57ADFF 104.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.link-color-red:hover{
    background: -webkit-linear-gradient(97.43deg, #ffedc2 -8.05%, #f77c90 53.52%, #b9d5ef 104.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-color-orange:hover{
    color: #f1ca93;
}

.logo img{
    width: 173px;
    height: 50px;
}

.sub-1{
    margin-top: 24px;
}

.button-demo{
    margin: 24px 0;
}

.menu .nav-link{
    color: #161616;
}

.menu .nav-link:hover{
    color: #656565;
}

.b-buy-bnsc{
    background: linear-gradient(95.65deg, #FFDC99 -41.9%, #F45F77 58.74%, #7B71ED 155.95%);
    border-radius: 30px;
    padding: 16px 24px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.b-eth-demo {
    border: 2px solid transparent;
    border-radius: 30px;
    background: linear-gradient(97.43deg, #FCD982 -8.05%, #FF4E6A 53.52%, #57ADFF 104.53%);
    
    background-clip: padding-box;
    padding: 1px 1.25px;
    font-size: 14px;
    font-weight: 600;
}

.b-eth-demo div {
    background: #FCFAF8;
    padding: 14px 22px;
    border-radius: 30px;
}

.b-bsc-demo {
    border: 2px solid transparent;
    border-radius: 30px;
    background: linear-gradient(97.43deg, #FCD982 -8.05%, #FF4E6A 53.52%, #57ADFF 104.53%);
    background-clip: padding-box;
    padding: 1px 1.25px;
    font-size: 14px;
    font-weight: 600;
}

.b-bsc-demo div {
    background: #FCFAF8;
    padding: 14px 22px;
    border-radius: 30px;
}

.img-trading-token img{
    width: 100%;
    height: 271px;
    border-radius: 30px;
    transform: rotate(-4.27deg);
    margin-top: 50px;
    object-fit: cover;
}

.d-go-down{
    height: 200px;
}

.b-go-down {
    border: 2px solid transparent;
    background: linear-gradient(97.43deg, #FCD982 -8.05%, #FF4E6A 53.52%, #57ADFF 104.53%);
    background-clip: padding-box;
    padding: 2px;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    margin-top: 90px;
    /* animation-name: bGoDown;
    visibility: visible;
    transition: all 0.5s ease 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out; */
}


@keyframes bGoDown {
    from {margin-top: 21px}
    to {margin-top: 26px}  
}


.b-go-down i{
    background: #ffffff;
    padding: 20px;
    border-radius: 50%;
}

.background-1{
    position: absolute;
    width: 600px;
    height: 617px;
    left: -335px;
    top: 211.64px;
    opacity: 0.1;
    transform: rotate(44deg);
    background: linear-gradient(64deg,#fff, rgb(255, 78, 106),rgb(252, 217, 130),rgba(87, 173, 255, 1), #fff);
    
}


.noise{
    position: absolute;
    opacity: 0.1;
}

.brand img{
    width: 143.98px;
    height: 36.04px;
}

#about{
    margin-top: 100px;
}

.what-list-item{
    height: 356px;
    background: #fff;
    box-shadow: 0px 8px 28px -12px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 48px 24px;
}

.what-list-title{
    margin: 32px 0 16px 0;
}

.what-list-logo{
    padding: 23px;
    border-radius: 30px;    
}

.what-list .community{
    background: rgba(255, 249, 231, 1);
}

.what-list .instant{
    background: rgba(255, 237, 240, 1);
}

.what-list .secure{
    background: rgba(232, 250, 255, 1);

}

.what-list-logo img{
    height: 40px;
    width: 40px !important;
}

#howToBuy{
    margin-top: 90px;
}

#howToBuy .text-18{
    margin-right: 100px;
}

#howToBuy .table td{
    border: none;
}

#howToBuy .table tr{
    margin-bottom: 30px;
}

#howToBuy .wallet-img{
    width: 90%;
    height: 330.14px;
}

#stats{
    background: linear-gradient(97.43deg, #FFE6C1 -8.05%, #FFCFD7 50%, #C4E2FF 104.53%);
    border-radius: 30px;
    padding: 50px 0;
    margin: 100px 0;
}

.stats-logo{
    padding: 14px;
    border-radius: 50%;
    background: #ffffff;
}
.stats-logo img{
    width: 28px;
    height: 28px;
}

.stats-list{
    padding: 70px 120px 0 120px;
}

.stats-list .col-12{
    border-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
}

.stats-list .col-lt{
    border-width: 0 1px 1px 0;
}

.stats-list .col-rt{
    border-width: 0 0px 1px 0;
}

.stats-list .col-lb{
    border-width: 0 1px 0px 0;
}

.stats-list .col-rb{
    border-width: 0;
}

.stats-list .stats-item-lt{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.stats-list .stats-item-ct{
    margin-left: 25%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.stats-list .stats-item-rt{
    float: right;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.stats-list .stats-item-lb{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.stats-list .stats-item-cb{
    margin-left: 25%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.stats-list .stats-item-rb{
    float: right;
    margin-top: 50px;
    margin-right: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.phase-item{
    height: 100%;
    padding: 0 20px;
}

.phase-item-doing img{
    width: 18px;
    height: 18px;
}
.phase-item-logo{
    width: 104px;
    height: 104px;
    margin: 0 auto;
    margin-bottom: 60px;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 2px 24px -8px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 32px;
}

.phase-item-logo img{
    width: 40px;
    height: 40px;
}

.phase-1 .phase-item-logo{
    background: #FFF9E7;
}

.phase-2 .phase-item-logo{
    background: #FFEEF1;
}

.phase-3 .phase-item-logo{
    background: #E8FAFF;
}

.phase-4 .phase-item-logo{
    background: #FFECE5;
}

.phase-hidden{
    visibility: hidden;
}

.phase-line{
    right: 20%;
    top: 52px;
}

.phase-line-dot-left{
    right: 80%;
    top: 49px;
    width: 11px;
    height: 11px;
    background: #FCFAF8;
    border: 1px solid #535353;
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
}

.phase-line-center{
    width: 50%;
    height: 0px;
    border-bottom: 1px dashed #9D9D9D;
    left: 80%;
    top: 53px;
    position: absolute;
}

.phase-line-dot-right{
    left: 80%;
    top: 49px;
    width: 11px;
    border-radius: 50%;
    height: 11px;
    background: #FCFAF8;
    border: 1px solid #535353;
    box-sizing: border-box;
    position: absolute;
}

#community{
    padding: 120px 0;
}

.community-item{
    background: #FFFFFF;
    
    border-radius: 30px;
    padding: 40px 16px;
    margin: 0 16px;
    text-align: center;
    width: 232px;
    cursor: pointer;
}

.community-item:hover{
    box-shadow: 0px 8px 48px -12px rgb(0 0 0 / 15%);
}

.community-item-logo{
    width: 60px;
    height: 60px;
    background: #1DA1F2;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.community-item-logo i{
    color: #fff;
    font-size: 30px;
}

.line-end{
    width: 100%;
    height: 1px;

    background: #DEDEDE;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer{
    padding: 41px 0;

}

.stats-logo .g-26{
    width: 28px;
    height: 19.38px;
}

.stats-logo .g-27, .stats-logo .g-30{
    width: 28px;
    height: 28px;
}

.stats-logo .g-21{
    width: 28px;
    height: 22px;
}

.stats-logo .g-29{
    width: 25px;
    height: 23.47px;
}

.stats-logo .g-25{
    width: 28px;
    height: 17.56px;
}

.description{
    margin: 24px 160px 50px 160px;
}

.what-list-item .text-24-bold{
    margin: 32px 0 16px 0;
}

.icon-menu-res{
    display: none;
    color: #9DA3B8;
    font-size: 22px;
}

.menu-responsive ul{
    display: flex;
    flex-direction: column;
}

.menu-responsive ul a{
    padding: 0;
}

.menu-responsive ul li{
    margin-bottom: 24px;
}

.menu .icon-menu-res-open img{
    width: 22px;
    height: 10.51px;
}

.menu .icon-menu-res-close img{
    width: 16px;
    height: 16px;
}

.menu-responsive{
    background-image: url('../images/bg-responsive.png');
    padding: 5px 20px 0 30px;
    visibility: visible;
  transition: all 0.5s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: -100%;
}

.menu-responsive.active{
    left: 0;
    visibility: visible;
}


#owl-what-list .owl-stage-outer{
    padding: 40px 0;
}

.header{
    padding: 30px 0;
}

.top-menu{
    font-weight: 600;
}

.menu-responsive a{
    font-weight: 600;
}

.b-buy-bnsc:hover, .b-eth-demo:hover, .b-bsc-demo:hover{
  transform: scale(1.025);
}